
@font-face {
	font-family: Muiicons;
	font-weight: 400;
	font-style: normal;
  	src: url('../fonts/baocun.ttf') format('truetype')
  	 /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont11 {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baocun:before { content: "\e61b"; }

